.ant-layout-header.stackoverflow-home-layout-header {
  height: unset;
  padding: unset;
  color: unset;
  line-height: unset;
  background: unset;
}

.stackoverflow-home-layout-header {
  height: 90px !important;
  background-color: #e7e7e7 !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  padding-right: 15% !important;
  align-items: flex-start;
}

.stackoverflow-home-layout-header-link, .stackoverflow-home-layout-header-link:hover {
  font-size: 14px;
  padding: 5px 12px;
  margin: 30px 0 0 10px;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  background-color: #6074DD;
}

p {
  font-family: "Poppins", "Rubik", sans-serif;
}

a {
  color: #6074DD;
}

.ant-btn-primary,.ant-btn-primary:hover,.ant-btn-primary:focus {
  background: #6074DD!important;
  border-radius: 25px!important;
  border-color: unset!important;
}