.stackoverflow-home-layout-header {
  height: 90px;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: row-reverse;
}

.stackoverflow-home-layout-header-link {
  font-size: 14px;
  margin: 28px 2%;
  padding: 8px 12px;
  color: white;
  border-radius: 100px;
  text-decoration: none;
  background-color: rgb(69, 82, 210);
}
